.createReview_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  form {
    width: 100%;
    max-width: 500px;

    .form-group {
      margin-bottom: 20px;
      label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }
      input[type="text"],
      input[type="number"],
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
      }

      .dropzone {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        p {
          font-size: 1rem;
          color: #555;
        }
      }
    }

    button[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .dropped_img{
    width: 250px;
    height: auto;
    margin-top: 1rem;
  }
}
